# Editors
*.sublime-*
.idea


# Third-Party
/vendor


# Config
.env*
!.env.example


# System Files
.DS_Store
Thumbs.db


# Temporary Files
/var/**/*.*


#
# Legacy Stuff
#


# Include directories with .gitkeep
!.gitkeep
